---
import type { Props } from "@astrojs/starlight/props";

import EditLink from "@astrojs/starlight/components/EditLink.astro";

import Pagination from "@astrojs/starlight/components/Pagination.astro";
import LastUpdated from "@astrojs/starlight/components/LastUpdated.astro";
import { LinkCard, CardGrid } from "@astrojs/starlight/components";

import { Tabs, TabItem } from "@astrojs/starlight/components";
---

<footer class="flex flex-col">
    <Tabs>
        <TabItem label="Label 1">
            <CardGrid>
                <LinkCard
                    title="Dev"
                    href="https://dev.example.dev/"
                    target={"_blank"}
                />
                <LinkCard
                    title="Test"
                    href="https://test.example.dev/"
                    target={"_blank"}
                />
                <LinkCard
                    title="Prod"
                    href="https://prod.example.dev/"
                    target={"_blank"}
                />
            </CardGrid>
        </TabItem>
        <TabItem label="Label 2">
            <CardGrid>
                <LinkCard
                    title="Dev"
                    href="https://dev.example.dev/api/v1/"
                    target={"_blank"}
                />
                <LinkCard
                    title="Test"
                    href="https://test.example.dev/api/v1/"
                    target={"_blank"}
                />
                <LinkCard
                    title="Prod"
                    href="https://www.example.com/api/v1/"
                    target={"_blank"}
                />
            </CardGrid>
        </TabItem>
    </Tabs>
    <div class="meta sl-flex">
        <EditLink {...Astro.props} />
        <LastUpdated {...Astro.props} />
    </div>
    <Pagination {...Astro.props} />
</footer>
<style>
    .meta {
        gap: 0.75rem 3rem;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-block: 3rem 1.5rem;
        font-size: var(--sl-text-sm);
        color: var(--sl-color-gray-3);
    }
    .meta > :global(p:only-child) {
        margin-inline-start: auto;
    }
</style>
